@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

*{
   font-family: "Montserrat", sent-serif;
}
.logo,
li,
a,
button {
   font-weight: 500;
   font-size: 16px;
   color: #edf0f1;
   text-decoration: none;
}


.slika {
   width: 100%;
   height: 80vh;
   background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
      url("slike/dolazakhrvata.png");
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
}

.body1 {
   height: 100vh;
   background: rgb(90, 90, 90);
   background: radial-gradient(circle,
         rgba(90, 90, 90, 1) 0%,
         rgba(38, 38, 38, 1) 0%,
         rgba(0, 0, 0, 1) 100%);
}

.logo{
   margin-left: 100px;
   font-family: "Montserrat", sent-serif;
}

.logo:hover{
   color:#0088a9;
   transition: all 0.4s ease;
}

.body1{
   padding:10%;
}

.Prvi-element{
   text-align: left;
   font-family: "Montserrat", sent-serif;
   font-weight: 500;
   font-size: 60px;
   margin-top:40%;
   opacity: 0.6;
}
.de{
   font-weight:500;
   margin-top: 30%;
   background-color: #444444;
   color: #ffffff;
   border-radius: 28px;
   opacity: 0.6;
}

.detext{
   text-align:start;
   opacity: 1;
   padding:15px;
}
.te{
   margin-top: 10%;
   text-align: center;
}

.te a{
   margin-left: 5%
}

.navbar .navbar-brand:hover{
   color:gray !important;
}

.offcanvas-body .nav-item a:hover{
   color:gray !important;
}

.navbar .navbar-brand{
   margin-left:15%;
   font-size:24px;
}
.navbar .navbar-toggler{
   margin-right: 15%;
}